<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Text Utils.in</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TextUtils.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container my-2 py-2">
    <h2>About TextUtils.in</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit ratione laborum, porro laboriosam
      temporibus tempore adipisci animi sapiente voluptatum, iusto recusandae nihil quas, asperiores sint eum dolores
      beatae veritatis blanditiis minima a itaque non eveniet. Facilis maiores adipisci laborum iure doloremque
      molestias corporis repellat cum laboriosam quaerat explicabo fugit corrupti dolor impedit ratione, inventore
      consequuntur ut magni minus saepe, natus pariatur doloribus, maxime soluta. Officia assumenda quibusdam velit!
      Quisquam quas voluptates aspernatur sequi rem, nam ullam animi natus ab illo! Atque harum ipsa laudantium enim
      voluptate est officia voluptatum, consequatur nulla eligendi exercitationem ad eum. Quae eos mollitia numquam
      necessitatibus, ducimus sit impedit pariatur nesciunt voluptatum, voluptas accusantium? Nesciunt exercitationem
      praesentium reiciendis libero fuga quod omnis obcaecati sit! Eum animi facere dignissimos maiores mollitia
      aliquam, quod magni cumque recusandae odit asperiores ipsa? Obcaecati fuga tenetur molestiae odit quidem,
      molestias vero incidunt ducimus maxime reprehenderit quam, quis dolorum nesciunt vel autem totam consectetur
      facere voluptas hic laudantium! Ipsa corrupti maxime esse placeat. Sint, voluptatibus. Sunt maiores rerum, neque
      necessitatibus fugit non aperiam consequuntur eos delectus voluptatibus quidem laudantium reprehenderit temporibus
      unde ipsa sed magnam repellat. Quod voluptatibus iusto laudantium quam error adipisci sed molestiae? Facilis
      dolores quae rerum optio unde, illum accusantium minus, officia quaerat asperiores neque, reprehenderit vitae
      repellat fugit qui placeat commodi veniam? Reprehenderit, iure animi in quis pariatur deserunt dolorem cupiditate
      tenetur laudantium consequatur nemo modi laboriosam expedita dolores eius suscipit impedit inventore repellat
      ullam non mollitia corporis facilis repellendus! Quidem voluptas repellendus voluptatibus totam consequuntur
      aperiam asperiores culpa magnam recusandae esse tempore cumque iure sapiente, illum quos! Pariatur placeat, soluta
      voluptatibus earum alias amet, nam laboriosam atque officia quod, eligendi expedita facere! Ab nihil repellendus
      exercitationem, similique a, enim blanditiis rerum deserunt aperiam sint in harum officiis quisquam! Deserunt
      obcaecati accusamus placeat nulla a voluptatem? Saepe totam harum sit eligendi fugiat at distinctio libero nostrum
      magni, voluptas non aut blanditiis quia quis impedit illo, rem numquam ex ipsam voluptatibus hic! Veniam dolore
      atque consequatur fuga dignissimos natus, a ex consectetur, placeat aut asperiores nobis fugiat sit quasi magnam
      totam voluptas maiores alias! Libero necessitatibus itaque earum odit ad iusto, nostrum officia aliquid corporis
      tenetur officiis soluta atque repellat deserunt tempora sapiente nesciunt! Minus animi nihil asperiores voluptas
      vero earum, eos molestiae nam doloremque aspernatur! Dicta iure culpa officia dolore nam repellat nihil unde
      rerum, magni cum quasi fugiat maiores voluptate nisi doloribus quibusdam! Facere, asperiores! Ea ut vel excepturi
      repudiandae dolore voluptas ratione quae, explicabo debitis ex, dolorum ipsam tempora possimus ipsum corporis
      fugit voluptatibus! Reiciendis optio minima atque distinctio neque, aperiam numquam amet natus corrupti id non
      molestiae officia quo impedit in iste ex provident sequi consequuntur aut eum? Earum voluptatem similique dolorem
      fugiat alias esse, laudantium praesentium dolore harum ipsa voluptatibus exercitationem rerum sapiente ea quaerat
      vitae illum error, vel quos in unde accusamus! Dolorem laudantium adipisci animi? Dolores vel assumenda aperiam
      id. Aut quod maiores sapiente eum vel exercitationem tempore iste, autem itaque hic ducimus asperiores quis
      mollitia ipsam explicabo. Nam, doloremque eius?</p>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>